# Xcode user-specific data
xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Build outputs
DerivedData/
build/
tmp/
.swiftlint_cache/

# Swift Package Manager
.build/
Package.resolved

# macOS metadata
.DS_Store
